pkgbase = gitwatch-rs
	pkgdesc = CLI to watch a git repo and automatically commit changes
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/croissong/gitwatch-rs
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = pkg-config
	depends = libgit2
	depends = openssl
	provides = gitwatch
	conflicts = gitwatch
	source = gitwatch-rs-1.0.0.tar.gz::https://github.com/croissong/gitwatch-rs/archive/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = gitwatch-rs
